.our-newsletter {
	padding: 136px 0;
	background-color: #e7e7f1;
	text-align: center;
}
.our-newsletter h2 {
	margin-bottom: 32px;
}
.our-newsletter button {
	padding: 15.19px 53.17px 15.88px 52.57px;
}
/* Media Quiry */
@media screen and (min-width: 0px) and (max-width: 390px) {
	.our-newsletter h2 {
		font-size: 28px;
	}
}
